[Unit]
Description=Weather Station API
After=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/apps/raspi-weather-station/backend
Environment="PATH=/home/pi/apps/raspi-weather-station/backend/.venv/bin"
ExecStart=/home/pi/apps/raspi-weather-station/backend/.venv/bin/uvicorn weather.api:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
